/* Sidebar.css */
.sidebar-item {
    display: flex;
    align-items:left ;
    padding: 8px 25px; 
  }
  
  .sidebar-icon {
    margin-right: 10px; 
  }
  /* Sidebar.css */
.sidebar {
  min-height: 100vh; 
  position: sticky;
  top: 0;
 
}

