
.custom-card-column {
    background-color: white; 
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3); 
    margin-top: 51px; 
    width: 400px; 
    height: auto;
    padding: 20px; 
    width: 90vh; 
  }
  body{
    background-color: #f9f9fb;
  }
  .custom-label-font-size2 label {
    font-size: 16px; 
  }
  .custom-input-font-size2 input {
    font-size: 15px;
  }
  
  body, html {
    margin: 0;
    padding: 0;
  }
  
  .image-column {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }
  
  .image-column .rounded-start {
    width: auto;
    height: 100%;
    max-width: 100%;
    object-fit: cover;
  }
  .image-column {
    height: 100%;
    overflow: hidden;
  }
  
  